node_modules/
.next/
out/
.env
.env.local
.env*.local
*.tsbuildinfo
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
functions/node_modules/
functions/lib/
serviceAccountKey.json
.DS_Store
